<script id="t-about" type="text/template">

<h5 class="bold">About</h5>

<p>
	Did you ever try to write a story but got stuck at a certain point? Have you ever started reading a book that 
	you're really enjoying until the author suddenly throws a plot twist in there that sours it for you?  Well, now 
	the power is yours - kind of... 
</p>

<p>
	<i>Who's Story is it Anyway</i> gives you the chance to choose an existing story and change it's plot to the way 
	you see it or you can create your very own story and have other people add their own plot twists to it.
</p>

<p>
	You can create a beginning or change an outcome.  You can add a plot twist or kill off a despised foe.  You can 
	create your own characters if you want.  You can even create different versions of your own story, the options are 
	endless! 
</p>

<p>
	Not into writing?  No problem, you can simply read and enjoy all of the many stories that are out here and vote 
	which ones that you like.
</p>

<p>
	There's definitely lots to enjoy with the many unique story lines and intricate plot twists.  Definitely entertaining 
	to say the least so let your story begin!
</p>

</script>
