<script id="t-new-story" type="text/template">

<h5 class="bold">Create a New Story</h5>

<div id="error" style="margin-bottom: 9px; color: #ff0000"></div>

<form>
<div class="row">
	<div class="row">
		<div class="eight columns">
			<label for="name">Title</label>
			<input class="u-full-width" type="text" id="title" name="title" placeholder="Enter a Title here">
		</div>
		<div class="four columns">
			<label for="genre">Genre</label>
			<input class="u-full-width" type="text" id="genre" name="genre" value="{{data:genre}}" readonly>
		</div>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<label for="name">Comments</label>
		<input class="u-full-width" type="text" id="comments" name="comments" placeholder="Tell us your thoughts. What was your inspiration for your story?">
	</div>
</div>
<div class="row">
	<div class="twelve columns">
	<ul class="icons" style="margin-bottom: 1px !important; padding-bottom: 1px !important;">
		<li>
			<a href="#" class="format-bar" onclick="{{func:toggleBold}}">
				B
			</a>
		</li>
		<li>
			<a href="#" class="format-bar" onclick="{{func:toggleItalic}}">
				I
			</a>
		</li>
		<li>
			<a href="#" class="format-bar" onclick="{{func:toggleUnderline}}">
				U
			</a>
		</li>
		<li class="u-pull-right">
			<a class="button button-special" onclick="{{func:createNewStory}}" data-genre-mnem="{{data:genreMnem}}">Save</a>
		</li>
	</ul>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<div contenteditable="true" id="content" class="editable-div"></div>
	</div>
</div>
</form>

</script>
